<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | StudySpace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <%= stylesheet_link_tag "home" %>
  </head>
  <body>
      <h1 class="line-1 anim-typewriter">Find your <span class="colorTwo">study partners</span> now!</h1>
	  	<% if logged_in? %>
  			<div class="loginBtn">
  	  	<%= link_to "Find Study Groups", courses_path, class: " btn-large btn-primary" %>
  	  	</div>
		  <% else %>
    		<div class="loginBtn">
    	  <%= link_to "Sign up now", '/signup', class: " btn-large btn-primary" %>
    	  </div>
		  <% end %>
	<% if false %>
		<%= link_to image_tag("rails.png", alt: "Rails logo"),
	            'http://rubyonrails.org/' %>
	<% end %>
  </body>
</html>
