<html>
<head>
  <% provide(:title, 'Login') %>
  <title>StudySpace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
  <%= stylesheet_link_tag "loginPage" %>
</head>
<body>

  <!-- jQuery is required by Materialize to function -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });

  </script>
  <div class="login container z-depth-4">
    <div class="container">
      <div class="row">
        <h2>Log In to StudySpace</h2>
      </div>
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="row">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="row">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="row">
            <div class="loginBtn">
                <%= f.submit "Login", class: "btn-large btn-primary" %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <p id="register">Don't have an account? <%= link_to "Register Here!", signup_path  %></p>
        </div>
      </div>
  </div>

</body>
</html>
