<html>
<head>

  <title>StudySpace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag "LoginAndReg" %>

</head>
<body>

  <!-- jQuery is required by Materialize to function -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });

  </script>
  <div class="col s12 heading">
    <h1>StudySpace</h1>
  </div>
  <div class="login container z-depth-4">
    <div class="container">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <%= form_for(@user) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= form_for(@user) do |f| %>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="loginBtn">
            <div class="input-field col s12">
              <%= form_for(@user) do |f| %>
              <%= f.submit "Login", class: "btn btn-primary" %>

              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <p id="register">Don't have an account?<%= link_to " Register!", register_path  %></p>
          <p id="register">People's page<%= link_to " Register!", people_path  %></p>
          <p id="register">Specific person's page<%= link_to " Register!", profilepage_path  %></p>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
