<html>
<head>

  <title>StudySpace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

  <!-- jQuery is required by Materialize to function -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
    <div class="col s12 heading">
      <h1>StudySpace</h1>
    </div>
    <div class="register container z-depth-4">
      <div class="container">
        <form class="col s12">
          <div class="row">
            <h2>Register</h2>
          </div>
          <div class="row">
            <div class="input-field col-md-12">
              <%= form_for(@user) do |f| %>
              <%= f.label :name %>
              <%= f.text_field :name %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-md-12">
              <%= form_for(@user) do |f| %>
              <%= f.label :email %>
              <%= f.email_field :email %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-md-12">
              <%= form_for(@user) do |f| %>
              <%= f.label :password %>
              <%= f.password_field :password %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-md-12">
              <%= form_for(@user) do |f| %>
              <%= f.label :password_confirmation, "Confirm Password" %>
              <%= f.password_field :password_confirmation %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-md-6">
              <%= form_for(@user) do |f| %>
              <%= f.label :name, "Major" %>
              <%= f.text_field :name %>
              <% end %>
            </div>
            <div class="input-field col-md-6">
              <%= form_for(@user) do |f| %>
              <%= f.label :name, "Graduation Year" %>
              <%= f.text_field :name %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col-md-6">
              <%= form_for(@user) do |f| %>
              <%= f.label :name, "Facebook" %>
              <%= f.text_field :name %>
              <% end %>
            </div>
            <div class="input-field col-md-6">
              <%= form_for(@user) do |f| %>
              <%= f.label :name, "Phone Number" %>
              <%= f.text_field :name %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <form action="#">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Profile Picture</span>
                <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <div class="regBtn">
              <div class="col-md-12">
                <%= form_for(@user) do |f| %>
                <%= f.submit "Create my account", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="row">
            <p id="signin">Already have an account?<%= link_to " Login!", home_path  %></p>
          </div>
        </form>
      </div>
    </div>
          <!--
            <div class="input-field col s6">
              <input id="major" type="text" class="validate">
              <label for="major">Major</label>
            </div>
            <div class="input-field col s6">
              <select>
                <option value="1">2018</option>
                <option value="2">2019</option>
                <option value="3">2020</option>
                <option value="4">2021</option>
              </select>
              <label>Graduation Year</label>
            </div>
            <div class="input-field col s12">
              <select multiple>
                <option value="" disabled selected>Choose your classes</option>
                <option value="1">Class 1</option>
                <option value="2">Class 2</option>
                <option value="3">Class 3</option>
                <option value="1">Class 4</option>
                <option value="2">Class 5</option>
                <option value="3">Class 6</option>
                <option value="1">Class 7</option>
                <option value="2">Class 8</option>
                <option value="3">Class 9</option>
                <option value="1">Class 10</option>
                <option value="2">Class 11</option>
                <option value="3">Class 12</option>
              </select>
              <label>Classes</label>
            </div>
          </div>
            <form action="#">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Upload</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Profile Picture">
                </div>
              </div>
            </form>
          <div class="row">
            <h2>Optional Info</h2>
            <div class="input-field col s6">
              <input id="fb" type="text" class="validate">
              <label for="fb">Facebook</label>
            </div>
            <div class="input-field col s6">
              <input id="phone" type="text" class="validate">
              <label for="phone">Phone Number</label>
            </div>
            <button class="btn waves-effect waves-light col s12" id="register_Btn" type="submit" name="action">Register
              <i class="material-icons right">send</i>
            </button>
          </div>
          <div class="row">
            <p id="signin">Already have an account?<%= link_to " Login!", home_path  %></p>
          </div>
        </form>
      </div>-->

</body>
</html>
