<!DOCTYPE html>
<%= favicon_link_tag 'favicon.ico' %>
<html>
  <style>
    .center {
        text-align: center;
        //list-style-position: inside;
    }
    .btn-large{
      width: inherit;
      font-size: 22px;
      text-align: center;
      letter-spacing: .2em;
    }
    .btn{
      margin: 0 auto;
      margin-top: 8px;
      margin-left: 10px;
    }
    .add{
      padding: 0 auto;
      padding-top: 10px;
      padding-bottom: 10px;
      height: inherit;
    }
    .create{
      padding: 0 auto;
      padding-top: 10px;
      padding-bottom: 30px;
    }
    .classes{
      padding: 0 auto;
      height: inherit;
    }
    .Title{
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 25px;
      color: #80cbc4;
      font-style: italic;
    }
      </style>

	<head>
		<% provide(:title, 'Courses') %>
            <title>StudySpace</title>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <%= stylesheet_link_tag "courses_index" %>
	</head>
	<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript">
                $(document).ready(function() {
                  $('select').material_select();
                });

    </script>
    <br/>
    <div class="row">
    <div class="col s6">
      <div class="add z-depth-2">
    		<h4 class="center Title">
    			Add a Course
    		</h4>
        <% @courses.each do |course| %>
        <div class="container">
          <div class="classes z-depth-2">
            <div class="row">
              <div class="col s6">
                <p class="center"><%=link_to(course.name, course_path(course.id)) %></p>
              </div>
              <div class="col s6">
                <%= link_to "Join", edit_course_path(course.id), class: "btn" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col s6">
      <div class="create z-depth-2">
        <h4 class="center Title">Create a new course</h4>
			      <%= form_for(@course) do |f| %>
            <div class="input-field col s10 offset-s1">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
            <div class="input-field col s10 offset-s1">
              <%= f.label :subject %>
              <%= f.text_field :subject %>
            </div>
            <div class="input-field col s10 offset-s1">
              <%= f.label :professor %>
              <%= f.text_field :professor %>
            </div>
            <div class="input-field col s10 offset-s1">
              <%= f.label :description %>
              <%= f.text_field :description %>
            </div>
            <div class="center">
              <div class="loginBtn">
                <%= f.submit "Create", class: "btn-large btn-primary" %>
              </div>
            </div>
            <% end %>
        </div>
      </div>
    </div>
</body>
</html>
