<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://use.fontawesome.com/d29dec308b.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Montserrat|Lato" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<title> <% provide(:title, @course.name) %>	</title>
  <style>
    .row {
      font-family: Lato;
    }
    .card-panel {
      padding-bottom: 12px;
    }
    .card-panel>.row{
      margin-bottom: 0px;
    }
    .container {
      width: 80%;
    }
    .circle {
      width: 40px;
      height: 40px;
    }
    .breakWord {
      width: 12em;
      overflow-wrap: break-word;
    }
    .profilepic {
      padding-top: 3px;
      padding-bottom: 2px;
    }
    .name {
      display: block;
      padding-top: 2px;
    }
    .facebook {
      display: block;
      padding-bottom: 1px;
    }
    .course_ids {
    	padding-top: 3px;
    }
    .tealItalic {
      font-style: italic;
      color: #80cbc4;
    }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <br />
  <div class="row">
    <div class="col s12">
      <div class="card teal lighten-2">
        <div class="card-content white-text">
          <h1 class="center" id="title">
          <%= @course.name %>
          <hr width=40%;/>
          </h1>
          <h5 class="center">
            <%= @course.professor%>
          </h5>
          <h6 class="center">
            <%= @course.description%>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s4">
      <div class="container">
        <h4 class="center tealItalic">Classmates</h4>
        <br />
        <% n = 1 %>
        <% @course.users.in_groups_of(n, false).each do |users| %>
        <% (0..users.length - 1).each do |i| %>
        <div class="chip">
          <% if users[i].avatar? %>
            <%= image_tag users[i].avatar.url, class: "circle" %>
          <% else %>
            <img src="/images/default-user.png" class="circle">
          <% end %>
          <%=link_to(users[i].name, user_path(users[i].id)) %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="col s8" style="overflow-y: scroll; height:400px;">
      <div class="container">
        <h4 class="center tealItalic">Forum</h4>
        <br />
        <% @posts.each do |post| %>
          <div class="card-panel z-depth-3">
            <h4 class="center">
              <%= post.name  %>
            </h4>
            <h5 class="center">
              <%= post.content  %>
            </h5>
            <br />
            <div class="row">
              <div class="col s4 grey-text">
                <%= User.find(post.user_id).name%>
              </div>
              <div class="col s8 grey-text">
                <div class="right">
                  <%= post.created_at  %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
<!--          <%= form_for(@post) do |f| %>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <%= f.label :title %>
              <%= f.text_field :name %>
            </div>
          </div>
    		   <% end %>
-->
        <br />

        <div class="row">
          <div class="col s12">
            <div class="center">
              <a class="waves-effect waves-light btn" href="#modal1">Post</a>
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <%= form_for(@post) do |f| %>
                    <div class="input-field">
                      <%= f.label :title %>
                      <%= f.text_field :name %>
                    </div>
                    <div class="input-field">
                      <%= f.label :content %>
                      <%= f.text_field :content %>
                    </div>
                    <br />
                    <div class="center">
                      <%= f.submit "Create Post", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
                    </div>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :course_id, value: @course.id %>
                    <% end %>
                </div>
              </div>
            </div>
          <div class="col s4 offset-s8">
            <div class="center">
              <p class="delete">
                <%= link_to "Unenroll", :controller => :courses,
                    :action => :remove, :id => @course.id %>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
