<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <script src="https://use.fontawesome.com/d29dec308b.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Montserrat" rel="stylesheet">
  <script src="profilepage.js"></script>
  <%= stylesheet_link_tag "new" %>
	<title> <% provide(:title, @course.name) %>	</title>
  <style>
    .container {
      width: 80%;
    }
    #title {
      padding-bottom: 20px;
    }
    .circle {
      width: 40px;
      height: 40px;
    }
    .breakWord {
      width: 12em;
      overflow-wrap: break-word;
    }
    .profilepic {
      padding-top: 3px;
      padding-bottom: 2px;
    }
    .name {
      display: block;
      padding-top: 2px;
    }
    .facebook {
      display: block;
      padding-bottom: 1px;
    }
    .course_ids {
    	padding-top: 3px;
    }
  </style>
</head>

<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <h1 class="center" id="title">
  <%= @course.name %>
  </h1>
  <div class="row">
    <div class="col s4">
      <div class="container">
        <h4 class="center">Classmates</h4>
        <% n = 1 %>
        <% @course.users.in_groups_of(n, false).each do |users| %>
        <% (0..users.length - 1).each do |i| %>
        <div class="row">
          <div class="col s4">
            <% if users[i].avatar? %>
              <%= image_tag users[i].avatar.url, class: "circle" %>
            <% else %>
              <img src="/images/default-user.png" class="circle">
            <% end %>
          </div>
          <div class="col s8">
            <p id="name">
              <%= users[i].name %>
            </p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col s8">
      <div class="container">
        <h4 class="center">Forum</h4>
        <div>
          <%= form_for(@post) do |f| %>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
                <%= f.label :content %>
                <%= f.text_field :content %>
            </div>
          </div>
          <div class="row offsest-s1">
            <div class="loginBtn">
                  <%= f.submit "Create Post", class: "btn-large btn-primary" %>
            </div>
          </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :course_id, value: @course.id %>
            <% end %>
        </div>
         <div>
         		<% @posts.each do |post| %>
         			<%= User.find(post.user_id).name  %> </br>
         			<%= post.name  %> </br>
         			<%= post.content  %> </br>
         			<%= post.created_at  %> </br>
         		</br>
         	  </br>
         		<% end %>
         </div>
      </div>
    </div>
  </div>

  <!--<div class="container">-->

    <!-- <div class="row">
      <div class="center">
      <div class="col s6">
        <div class="z-depth-2" id="profile">

        	<div class = "course_ids">
	            <h3 class = "center">
					<%= @course.name %>
				</h3>
			</div>

			<div class = "course_ids">
	            <h5 class = "center">
	            	Subject
				</h5>
				<h6 class= "center">
					<%= @course.subject%>
				</h6>
			</div>

			<div class = "course_ids">
				<h5 class = "center">
	            	Professor
				</h5>
				<h6 class= "center">
					<%= @course.professor%>
				</h6>
			</div>

			<div class = "course_ids">
				<h5 class = "center">
	            	Description
				</h5>
				<h6 class= "center">
					<%= @course.description%>
				</h6>
			</div>
			<div class="course_ids">
				<br><br>
					<div class="center">
		  				<%= link_to "Join this class", edit_course_path(@course.id), class: "btn" %>
		  	  		</div>
		  	 </div>

        </div>
    </div>
      </div>

        <!--<div class="col s8">
	        <div class="z-depth-2" id="message">
	          <div class="container" id="text">
	          	<h4 > Users Enrolled: </h4>
	            <%# (0..@course.users.length - 1).each do |i| %>
	              <li><%#=link_to(@course.users[i].name, user_path(@course.users[i].id)) %></li>
	            <%# end %>
	          </div>
	        </div>
      	</div>-->

      	<!-- <table>
      	  <% n = 3 %>
		  <% @course.users.in_groups_of(n, false).each do |users| %> <!--Creates an array in groups of n's-->
		    <!-- <tr>
		    	<% (0..users.length - 1).each do |i| %> <!-- Creates n cards per row -->
			      <!-- <td><%#= link_to user.name, user_path(user.id) %> -->
			      	<!-- <div class="col s4">  <!--See above commented section for how to loop -->
				      <!-- <div class="card">

				        <div class="card-image"> -->
				          <%#=image_tag("/images/ryanLo.jpg")%>
				          <!--</img>-->
				          <%# debugger %>
				          <!-- <% if users[i].avatar? %>

			                <%= image_tag users[i].avatar.url %>
			              <% else %>
			                <img src="/images/default-user.png">
			              <% end %>
				        </div>
				        <div class="card-content">
				          <p id="name"><%= users[i].name %></p>
				          <hr>
				          <p id="gradyr"><%= users[i].gradyear %></p>
				          <p id="major"><%= users[i].major %></p>
				          <br>
				          <p id="bio">
				              <%= users[i].bio %>
				          </p>
				        </div>
				        <div class="row">
				          <div class="connectBtn">
				            <div class="input-field col s12">
				              <%= link_to "Connect", user_path(users[i].id), class: "btn btn-primary" %>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
			      </td>
			    <% end %>
		    </tr>
		  <% end %>
		</table>

      </div>
      <div>
      <%= form_for(@post) do |f| %>
                        <div class="row">
                              <div class="input-field col s10 offset-s1">
                                    <%= f.label :name %>
                                    <%= f.text_field :name %>
                              </div>
                        </div>
                        <div class="row">
                              <div class="input-field col s10 offset-s1">
                                    <%= f.label :content %>
                                    <%= f.text_field :content %>
                              </div>
                        </div>

                        <div class="row offsest-s1">
                              <div class="loginBtn">
                                    <%= f.submit "Create Post", class: "btn-large btn-primary" %>
                              </div>
                        </div>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :course_id, value: @course.id %>
                  <% end %>
                  </div>
     <div>
     		<% @posts.each do |post| %>
     			<%= User.find(post.user_id).name  %> </br>
     			<%= post.name  %> </br>
     			<%= post.content  %> </br>
     			<%= post.created_at  %> </br>
     		</br>
     	</br>
     		<% end %>
     </div> -->
    <!--</div>
  </div>-->
</body>
